node_red_local_flow.json
[{"id":"e886248c.5d3508","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a2f7e14c.6d175","type":"mqtt in","z":"e886248c.5d3508","name":"","topic":"#","qos":"0","datatype":"auto","broker":"bbcea0b0.3bff4","x":230,"y":160,"wires":[["62d9ec12.d51354","76360826.7f3758"]]},{"id":"62d9ec12.d51354","type":"debug","z":"e886248c.5d3508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"76360826.7f3758","type":"switch","z":"e886248c.5d3508","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"100001/10001","vt":"str"},{"t":"eq","v":"100001/10002","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["8a90af93.eb2de","62d9ec12.d51354"],["6b883d58.88bde4","62d9ec12.d51354"]]},{"id":"8a90af93.eb2de","type":"rpi-gpio out","z":"e886248c.5d3508","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":540,"y":200,"wires":[]},{"id":"6b883d58.88bde4","type":"rpi-gpio out","z":"e886248c.5d3508","name":"","pin":"38","set":"","level":"0","freq":"","out":"out","x":540,"y":240,"wires":[]},{"id":"bbcea0b0.3bff4","type":"mqtt-broker","z":"","name":"","broker":"gull.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]