node_red_cloud_flow.json
[{"id":"d9c0e624.4156d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c247384.5c173c","type":"mqtt in","z":"d9c0e624.4156d8","name":"","topic":"#","qos":"0","datatype":"auto","broker":"da85cf36.8ee6d","x":130,"y":140,"wires":[["8e7a8686.e42db8"]]},{"id":"c26e6657.bb4db8","type":"debug","z":"d9c0e624.4156d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"8e894f60.09c0c","type":"dashDB out","z":"d9c0e624.4156d8","dashDB":"","service":"Leo_DB2","table":"LEO_LOG2","name":"","x":530,"y":220,"wires":[]},{"id":"8e7a8686.e42db8","type":"function","z":"d9c0e624.4156d8","name":"","func":"var date_ob = new Date();\nvar hours = date_ob.getHours();\nvar minutes = date_ob.getMinutes();\nvar seconds = date_ob.getSeconds();\nvar time = hours + \":\" +minutes+\":\"+seconds\nvar i_msg= msg.payload\nvar i_topic = msg.topic\nvar v_date = date_ob.getFullYear() +'-0'+ date_ob.getMonth() +'-'+ date_ob.getDate()\nvar id = i_topic.split(\"/\")\nmsg.payload =\n{\n   device_id : id[0],\n   address_id : id[1],\n   log_time : time,\n   log_date : v_date,\n   state : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":140,"wires":[["c26e6657.bb4db8","8e894f60.09c0c"]]},{"id":"da85cf36.8ee6d","type":"mqtt-broker","z":"","name":"RabbitMQTT","broker":"gull.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]